@model IEnumerable<HoaDon>
@{
    Layout = null; // Loại bỏ Layout cho trang này
}
<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="~/css/style.css" type="text/css">
<link rel="stylesheet" href="~/css/font-end.css" type="text/css">


<h2 class="text-center" style="padding-bottom:30px">ADMIN DASHBOARD</h2>
<div class="container-fuild">
    <h2>Danh sách đơn hàng</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Order Status</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Address</td>
                    <td>@item.OrderStatus</td>
                    <td>@String.Format("{0:0,0}", item.Total) VND</td>
                    <td>
                        <a class="btn btn-info" style="background-color: #00FF00; border:none" asp-action="ChiTietDonHang" asp-route-id="@item.Id">Chi tiết</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/jquery.nicescroll.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/jquery.countdown.min.js"></script>
<script src="~/js/jquery.slicknav.js"></script>
<script src="~/js/mixitup.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/font-end.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>